.topnav {
  display: inline;
  overflow: hidden;
  background-color:grey;
  font-family: 'Times New Roman', Times, serif;
  color: grey
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: grey;
  color: black;
}

.topnav a.active {
  border: 1px solid black;

}
.topnav. a{
  margin-top: ;
  margin-bottom: ;
  margin-right: ;
  margin-left: ;
}
.navbar-right{
float: right;
}
.header{
left:0;
bottom:0;
float:center;
text-align:center;
font-family:sans-serif;
padding-left:1px ;
padding-right: 2px;
padding-top:3px ;
padding-bottom:4px;
height: 75px;
width: 45%;

}
.footer {
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  text-align:center;
  font-family: sans-serif;
  position: fixed;
  
}

  .fa-linkedin-in, .fa-code,.fa-laptop-code,.fa-html5,.fa-github{
  float: right;
  
  }
  